<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="container mt-4">

      <!-- Section: Design Block -->
      <section class="background-radial-gradient overflow-hidden">
        <style>
          html,
          body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
          }

          .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
          }

          .show,
          .hide {
            position: absolute;
            right: 15px;
            font-size: 28px;
            color: #333;
          }

          .hide {
            display: none;
          }
        </style>

        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
          <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
              <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(224, 73%, 3%)">
                Mess Automation System <br />
                <span style="color: hsl(218, 84%, 53%)" style="text-align: center;">IITK</span>
              </h1>
              <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">

              </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
              <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
              <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                  <form action="/auth/register" method="POST">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <h1 class="mb-3 h3">Register</h1>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" name="name" id="form3Example2" class="form-control" maxlength="50" />
                          <label class="form-label" for="form3Example2">Name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" name="rollNumber" id="form3Example3" class="form-control" />
                          <label class="form-label" for="form3Example3">Roll Number</label>
                        </div>
                      </div>
                    </div>


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" name="username" id="register-email" class="form-control" />
                      <label class="form-label" for="register-email">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <!-- <input type="password" name="password" id="register-password" class="password form-control" > -->
                      <label for="password">Password:</label>
                      <input type="password" id="register-password" class="password form-control" name="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+])[^\s]{8,}" maxlength="24"
                        title="Password must be between 8 and 24 characters long and include at least one uppercase letter, one lowercase letter, one number, and one of the following symbols: ! @ # $ % ^ & * ( ) _ +."
                        required>
                      <i class="show fa fa-eye"></i>
                      <i class="hide fa fa-eye-slash"></i>
                      <label class="password form-label" for="register-password">Password</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                      Sign up
                    </button>

                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>Already have an account? <a href="/login">Login</a></p>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
    <script>
      const emailInput = document.getElementById("register-email");

      emailInput.addEventListener("blur", () => {
        const email = emailInput.value;

        if (!email.endsWith("@iitk.ac.in")) {
          emailInput.setCustomValidity("Invalid email address. Please enter an email address with the domain name 'iitk.ac.in'.");
        } else {
          emailInput.setCustomValidity("");
        }
      });

      var passwordField = document.querySelector('.password')
      var show = document.querySelector('.show')
      var hide = document.querySelector('.hide')

      show.onclick = function () {
        passwordField.setAttribute("type", "text")
        show.style.display = 'none'
        hide.style.display = 'inline'
      }
      hide.onclick = function () {
        passwordField.setAttribute("type", "password")
        hide.style.display = 'none'
        show.style.display = 'inline'
      }

    </script>
  </body>

</html>