<%- include("../partials/head") %>
    <%- include("navbar") %>

        <div class="box" id="heading">
            <h1> Generate bill </h1>
        </div>

        <div class="box">


            <form action="/manager/accessAccount" method="post">
                <div class="item">
                    <input type="text" name="month" placeholder="Month" >
                    <input type="text" name="year" placeholder="Year" >
                </div>
                <div class="item">
                    <input type="text" name="workingDays" placeholder="Working days" >
                    <input type="text" name="dailyCost" placeholder="Daily cost" >
                    <button type="submit" class="add" name="button" value="1">+</button>
                </div>

            </form>
        </div>

        <div class="box" id="heading">
            <h1> Update dues </h1>
        </div>

        <div class="box">


            <form action="/manager/accessAccount/update" method="post">
                <div class="item">
                    <input type="text" name="rollNo" placeholder="Roll No" >
                    <input type="number" name="paid" placeholder="Due paid" >
                    <button type="submit" class="add" name="button" value="0">+</button>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        </body>

        </html>