<%- include("../partials/head") %>
    <%- include("navbar") %>
        <div className="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label mt-3"><b>Type Your Complain Below</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-primary mt-3">Submit</button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script>
            const tabs = document.querySelectorAll('.tab_btn');
            const all_content = document.querySelectorAll('.content');
            tabs.forEach((tab, index) => {
                tab.addEventListener('click', () => {
                    tabs.forEach(tab => { tab.classList.remove('active') });
                    tab.classList.add('active');
                    //     var line=document.querySelector('.line');
                    // line.style.width=e.target.offsetWidth+"px";
                    // line.style.left=e.target.offsetLeft+"px";
                    all_content.forEach(context => { context.classList.remove('active') })
                    all_content[index].classList.add('active');
                })
            })
        </script>

        </body>

        </html>