<%- include("../partials/head") %>
  <%- include("navbar") %>
    <form action="/Orders" method="post">
      <table id="ordersTable">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="itemName"></td>
            <td><input type="number" name="quantity" value="1"></td>
            <td><input type="number" name="price" value="0"></td>
          </tr>
        </tbody>
      </table>
      <button id="addRowBtn" type="button">Add more items</button>
      <button id="calculateBtn" type="button">Calculate Total</button>
      <p id="totalBill">Total Bill Amount: </p>
      <button>Place Order</button>
    </form>


    <script>
      const addRowBtn = document.getElementById("addRowBtn");
      const calculateBtn = document.getElementById("calculateBtn");
      const ordersTable = document.getElementById("ordersTable");
      const totalBill = document.getElementById("totalBill");

      addRowBtn.addEventListener("click", function () {
        const newRow = document.createElement("tr");
        newRow.innerHTML = `
            <td><input type="text" name="itemName"></td>
            <td><input type="number" name="quantity" value="1"></td>
            <td><input type="number" name="price" value="0"></td>
          `;
        ordersTable.querySelector("tbody").appendChild(newRow);
      });

      calculateBtn.addEventListener("click", function (event) {
        event.preventDefault();
        let total = 0;
        const quantityInputs = ordersTable.querySelectorAll("input[name='quantity']");
        const priceInputs = ordersTable.querySelectorAll("input[name='price']");
        for (let i = 0; i < quantityInputs.length; i++) {
          total += quantityInputs[i].value * priceInputs[i].value;
        }
        totalBill.textContent = "Total Bill Amount: " + total;
      });

    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

    </body>

    </html>