<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complain</title>
  <style>
    button{
    float: right;
    margin: 1cm;

}
.form-label{
    margin-top: 1cm;
    font-family: Arial, Helvetica, sans-serif;
}
  </style>
</head>
<body>
  <div className="mb-3">
    <label for="exampleFormControlTextarea1" className="form-label">Type Your Complain Below</label>
    <textarea className="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" className="btn btn-primary">Submit</button>
  </div>
</body>
</html>