<nav class="nav">
    <a href="/" class="site-title">IITK-Mess</a>
    <ul>
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li class="${path === '/orders' ? 'active' : ''}">
            <form action="/views/Orders.ejs" method="get">
                <a href="/Orders">Orders</a>
            </form>
        </li>
        <li >
            <form action="/views/Complain.ejs" method="get">
                <a href="/Complain">Complain</a>
            </form>
            
        </li>
        <li class="${path === '/rebate' ? 'active' : ''}">
            <a href="/Rebate">Apply For Rebate</a>
        </li>
        <li class="${path === '/mess-menu' ? 'active' : ''}">
            <a href="/mess-menu">Mess Menu</a>
        </li>
        <li class="${path === '/extras' ? 'active' : ''}">
            <a href="/extras">Extras</a>
        </li>
        <li class="${path === '/mess-bill' ? 'active' : ''}">
            <form method="get">

                <a href="/mess-bill">Mess-Bill</a>
            </form>
        </li>
        <li>
            <form action="/auth/logout" method="get">
                <button class="top" type="submit"  >Logout</button>

              </form>
        </li>
    </ul>
</nav>