<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        button{
        float: right;
        
    
    }
    .form-label{
        margin-top: 1cm;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
    }
        * {
    box-sizing: border-box;
    }
    body{
    margin: 0;
    }
    .nav {
    background-color:dodgerblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 0 1rem;
    
    }
    .site-title{
    font-size: 2rem;
    }
    .nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem; 
    }
    .nav a{
    color: inherit;
    text-decoration: none;
    
    }
    /* .nav li.active{
    background-color: brown;
    } */
    .nav li:hover{
    background-color: orange;
    }
    .container{
    margin: 1rem;
    text-align: center;
    }
    </style>
</head>
<body>
    <nav class="nav">
        <a href="/" class="site-title">IITK-Mess</a>
        <ul>
            <li class="${path === '/orders' ? 'active' : ''}">
                <form action="/views/Orders.ejs" method="get">
                    <a href="order">Orders</a>
                </form>
            </li>
            <li >
                <form action="/views/Complain.ejs" method="get">
                    <a href="complaints">Complaints</a>
                </form>
                
            </li>
            <li class="${path === '/rebate' ? 'active' : ''}">
                <a href="rebateApproval">Rebate Approval</a>
            </li>
            <li class="${path === '/mess-menu' ? 'active' : ''}">
                <a href="messMenu">Mess Menu</a>
            </li>
            <li class="${path === '/extras' ? 'active' : ''}">
                <a href="extras">Extras</a>
            </li>
            <li class="${path === '/mess-bill' ? 'active' : ''}">
                <form method="get">

                    <a href="accessAccount">Access Account</a>
                </form>
            </li>
            <li>
                <form action="/auth/logout" method="get">
                    <button type="submit" class="btn btn-outline-dark" >Logout</button>
    
                  </form>
            </li>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
<th>Serial No.</th>
<th>Roll No.</th>
<th>Date</th>
<th>Start Date</th>
<th>End Date</th>
<th>No. Of days</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>