<%- include("../partials/head") %>
<title>Access Account</title>
<%- include("../partials/head2") %>
    <%- include("navbar") %>

        <div class="box" id="heading">
            <h1> Generate bill </h1>
        </div>

        <div class="card">
            <form action="/manager/accessAccount" method="post">

                <div class="mb-3">
                    <h1>Generate Bill</h1>
                    <label for="startingDate" class="form-label"><b>Starting date</b></label>
                    <input type="date" id="startingDate" class="form-control" name="startDate">
                    <label for="endingDate" class="form-label"><b>Ending Date</b></label>
                    <input type="date" id="endingDate" class="form-control" name="endDate">
                    <label for="roll-number" class="form-label"><b>Daily Cost</b></label>
                    <input type="number" class="form-control" name="dailyCost"  style="width: 20rem;" min="1" max="150">
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
                <script>
                    var startInput = document.getElementById("startingDate");

                    // Disable keyboard input
                    startInput.addEventListener("keydown", function (event) {
                        event.preventDefault();
                    });
                    var endInput = document.getElementById("endingDate");

                    // Disable keyboard input
                    endInput.addEventListener("keydown", function (event) {
                        event.preventDefault();
                    });


                </script>
            </form>
        </div>
        <div class="box" id="heading">
            <h1> Update dues </h1>
        </div>

        <div class="box">


            <form action="/manager/accessAccount/update" method="post">
                <div class="item">
                    <input type="text" name="rollNo" placeholder="Roll No" >
                    <input type="number" name="paid" placeholder="Due paid" class="duePaid" min="0">
                    <button type="submit" class="add mx-5" name="button" value="0">Update</button>
                </div>
            </form>
        </div>
        </body>

        </html>
